<div id="post-{{post.id}}" class="post">
  <h2>{{post.title}}</h2>

  {{#unless post.isPublished}}
    <a id="publish-post" {{action 'publishPost' post}}>Publish Post</a>
  {{/unless}}

  <h3>Comments</h3>

  <div id="comments">
    {{#each post.comments as |comment|}}
      <p>{{comment.message}}</p>
    {{/each}}
  </div>
</div>
