<h1>Search Results</h1>

<div id="posts">
  {{#each this.model as |post|}}
    <div id="post-{{post.id}}" class="post">
      <LinkTo @route='post' @model={{post.slug}}>{{post.title}}</LinkTo>
    </div>
  {{/each}}
</div>
